In [1]:
# FCI Account - Fisher Capital Investments, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

db='fisher_nut_FCI_qbe'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

os.chdir('C:/Users/Ben/Desktop/qb_files')
start_time=datetime.datetime.now()
df = pd.read_csv('FCIAccount.csv',skiprows=1,
            names=['Account','AccountType','Class','Description','AccountNumber'])
connection.execute('TRUNCATE TABLE '+db+'.account')
df.to_sql('account',engine,if_exists='append',index=False,chunksize=1000)
print('Loaded FCIAccount.csv | Time: '+str(datetime.datetime.now()-start_time))
print(pd.read_sql("SELECT * FROM "+db+".mapped_accounts WHERE account_name LIKE '%%MAP%%' OR account_name LIKE '%%DUP%%'",connection))

Loaded FNAccount.csv | Time: 0:00:00.839133
Empty DataFrame
Columns: [account_name, category, qb_account_number, qb_account_name, qb_account_type, mapping_type, cash_flow_classification]
Index: []

In [3]:
# FCI TD - Fisher Capital Investments, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    return next_month - datetime.timedelta(days=next_month.day)

db='fisher_nut_FCI_qbe'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('C:/Users/Ben/Desktop/qb_files')

files = [
    ['FCI1.csv','2015-01-01','2021-04-30']
]

for i in range(len(files)):
    start_time=datetime.datetime.now()
    date_df = pd.read_csv(files[i][0],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])
    date_split=date_df['TransNo'][1].replace("'","").split()
    connection.execute("DELETE FROM "+db+".transaction_detail WHERE date BETWEEN '"+datetime.datetime.strptime(date_split[0]+' 01,'+date_split[1],'%b %d,%y').strftime('%Y-%m-%d')+"' AND '"+last_day_of_month(datetime.datetime.strptime(date_split[3]+' 01,'+date_split[4],'%b %d,%y')).strftime('%Y-%m-%d')+"'")
    df = pd.read_csv(files[i][0],skiprows=2,parse_dates=['Date'],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])[:-1]
    df.to_sql('transaction_detail',engine,if_exists='append',index=False,chunksize=1000)
    print('Loaded '+files[i][0]+' | Time: '+str(datetime.datetime.now()-start_time))
    
df = pd.read_sql("""SELECT *,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Gross Profit' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns','Cost of Sales')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Revenue' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,-SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.AccountName IN ('Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Income' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Total Operating Expenses' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses','Gross Revenue','Discounts & Returns','Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName""",connection)
connection.execute('TRUNCATE TABLE '+db+'.package_query')
df.to_sql('package_query',engine,if_exists='append',index=False,chunksize=1000)

Loaded FN1.csv | Time: 0:00:01.653982

In [3]:
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

db='fisher_nut_qbe'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

df = pd.read_sql("""SELECT 
date_format(td.`Date`, '%%Y-%%m-01') `Date`,
Account,
Class,
SUM(Amount),
account_name MappedAccountName,
category Category
FROM fisher_nut_qbe.transaction_detail td
LEFT JOIN fisher_nut_qbe.mapped_accounts ma ON td.Account = ma.qb_account_name
WHERE td.Account LIKE '5063%%'
GROUP BY Account,Class,account_name,category,date_format(td.`Date`, '%%Y-%%m-01')""",connection)
print(df)

           Date                                 Account          Class  \
0    2017-01-01  5063 � Ranch - Utilities - Gas & Elect    Gomes Ranch
1    2017-02-01  5063 � Ranch - Utilities - Gas & Elect  Brennan Ranch
2    2017-02-01  5063 � Ranch - Utilities - Gas & Elect    Gomes Ranch
3    2017-03-01  5063 � Ranch - Utilities - Gas & Elect  Brennan Ranch
4    2017-03-01  5063 � Ranch - Utilities - Gas & Elect    Gomes Ranch
..          ...                                     ...            ...
134  2021-02-01  5063 � Ranch - Utilities - Gas & Elect    Gomes Ranch
135  2021-02-01  5063 � Ranch - Utilities - Gas & Elect  Frazine Ranch
136  2021-03-01  5063 � Ranch - Utilities - Gas & Elect  Brennan Ranch
137  2021-03-01  5063 � Ranch - Utilities - Gas & Elect    Gomes Ranch
138  2021-03-01  5063 � Ranch - Utilities - Gas & Elect  Frazine Ranch

     SUM(Amount)                MappedAccountName       Category
0         125.24  Ranch - Utilities - Gas & Elect  Cost of Sales
1         254.49  Ranch - Utilities - Gas & Elect  Cost of Sales
2         126.56  Ranch - Utilities - Gas & Elect  Cost of Sales
3         461.20  Ranch - Utilities - Gas & Elect  Cost of Sales
4         168.50  Ranch - Utilities - Gas & Elect  Cost of Sales
..           ...                              ...            ...
134       112.01  Ranch - Utilities - Gas & Elect  Cost of Sales
135        47.06  Ranch - Utilities - Gas & Elect  Cost of Sales
136       278.87  Ranch - Utilities - Gas & Elect  Cost of Sales
137       177.72  Ranch - Utilities - Gas & Elect  Cost of Sales
138        45.45  Ranch - Utilities - Gas & Elect  Cost of Sales

[139 rows x 6 columns]

In [4]:
# RCCI Account - RC Capital Investments, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

db='fisher_nut_RCCI_qbe'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

os.chdir('C:/Users/Ben/Desktop/qb_files')
start_time=datetime.datetime.now()
df = pd.read_csv('RCCIAccount.csv',skiprows=1,
            names=['Account','AccountType','Class','Description','AccountNumber'])
connection.execute('TRUNCATE TABLE '+db+'.account')
df.to_sql('account',engine,if_exists='append',index=False,chunksize=1000)
print('Loaded RCCIAccount.csv | Time: '+str(datetime.datetime.now()-start_time))
print(pd.read_sql("SELECT * FROM "+db+".mapped_accounts WHERE account_name LIKE '%%MAP%%' OR account_name LIKE '%%DUP%%'",connection))

Loaded RCCIAccount.csv | Time: 0:00:00.799572
    account_name   category qb_account_number  \
0      MAP ME!!!  MAP ME!!!              1005
1      MAP ME!!!  MAP ME!!!              1035
2      MAP ME!!!  MAP ME!!!              1200
3      MAP ME!!!  MAP ME!!!              1500
4      MAP ME!!!  MAP ME!!!              1505
..           ...        ...               ...
160    MAP ME!!!  MAP ME!!!              8010
161    MAP ME!!!  MAP ME!!!              8030
162    MAP ME!!!  MAP ME!!!              8500
163    MAP ME!!!  MAP ME!!!              8705
164    MAP ME!!!  MAP ME!!!              8725

                          qb_account_name      qb_account_type mapping_type  \
0    1005 � Bank - Operating - CMA  #2102                 Bank    MAP ME!!!
1    1035 � R.C. Capital Investments, LLC                 Bank    MAP ME!!!
2              1200 � Accounts Receivable  Accounts Receivable    MAP ME!!!
3                             1500 � Land          Fixed Asset    MAP ME!!!
4                1505 � Land Improvements          Fixed Asset    MAP ME!!!
..                                    ...                  ...          ...
160     8010 � Interest & Dividend Income         Other Income    MAP ME!!!
161          8030 � Management Fee Income         Other Income    MAP ME!!!
162               8500 � Depreciation Exp        Other Expense    MAP ME!!!
163                      8705 � State Tax        Other Expense    MAP ME!!!
164                  8725 � Taxes - Other        Other Expense    MAP ME!!!

    cash_flow_classification
0              NotApplicable
1              NotApplicable
2                  Operating
3                  Investing
4                  Investing
..                       ...
160                     None
161                     None
162                     None
163                     None
164                     None

[165 rows x 7 columns]

In [4]:
# RCCI TD - RC Capital Investments, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    return next_month - datetime.timedelta(days=next_month.day)

db='fisher_nut_RCCI_qbe'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('C:/Users/Ben/Desktop/qb_files')

files = [
    ['RCCI1.csv','2002-12-01','2021-04-30']
]

for i in range(len(files)):
    start_time=datetime.datetime.now()
    date_df = pd.read_csv(files[i][0],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])
    date_split=date_df['TransNo'][1].replace("'","").split()
    connection.execute("DELETE FROM "+db+".transaction_detail WHERE date BETWEEN '"+datetime.datetime.strptime(date_split[0]+' 01,'+date_split[1],'%b %d,%y').strftime('%Y-%m-%d')+"' AND '"+last_day_of_month(datetime.datetime.strptime(date_split[3]+' 01,'+date_split[4],'%b %d,%y')).strftime('%Y-%m-%d')+"'")
    df = pd.read_csv(files[i][0],skiprows=2,parse_dates=['Date'],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])[:-1]
    df.to_sql('transaction_detail',engine,if_exists='append',index=False,chunksize=1000)
    print('Loaded '+files[i][0]+' | Time: '+str(datetime.datetime.now()-start_time))
    
df = pd.read_sql("""SELECT *,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Gross Profit' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns','Cost of Sales')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Revenue' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,-SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.AccountName IN ('Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Income' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Total Operating Expenses' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses','Gross Revenue','Discounts & Returns','Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName""",connection)
connection.execute('TRUNCATE TABLE '+db+'.package_query')
df.to_sql('package_query',engine,if_exists='append',index=False,chunksize=1000)

Loaded RCCI1.csv | Time: 0:00:05.611824

In [6]:
# RCCE Account - R.C. Capital Export Inc.
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

db='fisher_nut_RCC_Export_qbe'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

os.chdir('C:/Users/Ben/Desktop/qb_files')
start_time=datetime.datetime.now()
df = pd.read_csv('RCCEAccount.csv',skiprows=1,
            names=['Account','AccountType','Class','Description','AccountNumber'])
connection.execute('TRUNCATE TABLE '+db+'.account')
df.to_sql('account',engine,if_exists='append',index=False,chunksize=1000)
print('Loaded RCCEAccount.csv | Time: '+str(datetime.datetime.now()-start_time))
print(pd.read_sql("SELECT * FROM "+db+".mapped_accounts WHERE account_name LIKE '%%MAP%%' OR account_name LIKE '%%DUP%%'",connection))

Loaded RCCEAccount.csv | Time: 0:00:00.596032
   account_name   category qb_account_number  \
0     MAP ME!!!  MAP ME!!!              1005
1     MAP ME!!!  MAP ME!!!              1035
2     MAP ME!!!  MAP ME!!!              1800
3     MAP ME!!!  MAP ME!!!              1915
4     MAP ME!!!  MAP ME!!!              2000
5     MAP ME!!!  MAP ME!!!              2500
6     MAP ME!!!  MAP ME!!!              3005
7     MAP ME!!!  MAP ME!!!             3005^
8     MAP ME!!!  MAP ME!!!              3040
9     MAP ME!!!  MAP ME!!!              4050
10    MAP ME!!!  MAP ME!!!              7030
11    MAP ME!!!  MAP ME!!!              7910
12    MAP ME!!!  MAP ME!!!              8005
13    MAP ME!!!  MAP ME!!!              8010
14    MAP ME!!!  MAP ME!!!              8725
15    MAP ME!!!  MAP ME!!!              9000

                          qb_account_name          qb_account_type  \
0         1005 � Bank - Operating - Union                     Bank
1                      1035 � Investments                     Bank
2                     1800 � Intercompany      Other Current Asset
3                  1915 � Note Receivable              Other Asset
4                 2000 � Accounts Payable         Accounts Payable
5                     2500 � Note Payable  Other Current Liability
6      3005 � Capital Distribution - Abid                   Equity
7   3005^ � Capital Distribution - Fisher                   Equity
8                3040 � Retained Earnings                   Equity
9                4050 � Commission Income                   Income
10          7030 � Bank and Merchant Fees                  Expense
11              7910 � DISC Distributions            Other Expense
12               8005 � Investment income             Other Income
13    8010 � Interest and Dividend Income             Other Income
14                   8725 � Taxes - Other            Other Expense
15                       9000 � Suspended            Other Expense

   mapping_type cash_flow_classification
0     MAP ME!!!            NotApplicable
1     MAP ME!!!            NotApplicable
2     MAP ME!!!                Operating
3     MAP ME!!!                Investing
4     MAP ME!!!                Operating
5     MAP ME!!!                Operating
6     MAP ME!!!                Financing
7     MAP ME!!!                Financing
8     MAP ME!!!                Financing
9     MAP ME!!!                     None
10    MAP ME!!!                     None
11    MAP ME!!!                     None
12    MAP ME!!!                     None
13    MAP ME!!!                     None
14    MAP ME!!!                     None
15    MAP ME!!!                     None

In [9]:
# RCCE TD - R.C. Capital Export Inc.
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    return next_month - datetime.timedelta(days=next_month.day)

db='fisher_nut_RCC_Export_qbe'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('C:/Users/Ben/Desktop/qb_files')

files = [
    ['RCCE1.csv','2002-12-01','2021-04-30']
]

for i in range(len(files)):
    start_time=datetime.datetime.now()
    date_df = pd.read_csv(files[i][0],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])
    date_split=date_df['TransNo'][1].replace("'","").split()
    connection.execute("DELETE FROM "+db+".transaction_detail WHERE date BETWEEN '"+datetime.datetime.strptime(date_split[0]+' 01,'+date_split[1],'%b %d,%y').strftime('%Y-%m-%d')+"' AND '"+last_day_of_month(datetime.datetime.strptime(date_split[3]+' 01,'+date_split[4],'%b %d,%y')).strftime('%Y-%m-%d')+"'")
    df = pd.read_csv(files[i][0],skiprows=2,parse_dates=['Date'],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])[:-1]
    df.to_sql('transaction_detail',engine,if_exists='append',index=False,chunksize=1000)
    print('Loaded '+files[i][0]+' | Time: '+str(datetime.datetime.now()-start_time))
    
df = pd.read_sql("""SELECT *,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Gross Profit' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns','Cost of Sales')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Revenue' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,-SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.AccountName IN ('Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Income' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Total Operating Expenses' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses','Gross Revenue','Discounts & Returns','Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName""",connection)
connection.execute('TRUNCATE TABLE '+db+'.package_query')
df.to_sql('package_query',engine,if_exists='append',index=False,chunksize=1000)

Loaded RCCE1.csv | Time: 0:00:00.573364

In [1]:
# RCCM Account - R.C. Capital Management Group, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

db='fisher_nut_RCCM_qbe'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

os.chdir('C:/Users/Ben/Desktop/qb_files')
start_time=datetime.datetime.now()
df = pd.read_csv('RCCMAccount.csv',skiprows=1,
            names=['Account','AccountType','Class','Description','AccountNumber'])
connection.execute('TRUNCATE TABLE '+db+'.account')
df.to_sql('account',engine,if_exists='append',index=False,chunksize=1000)
print('Loaded RCCMAccount.csv | Time: '+str(datetime.datetime.now()-start_time))
print(pd.read_sql("SELECT * FROM "+db+".mapped_accounts WHERE account_name LIKE '%%MAP%%' OR account_name LIKE '%%DUP%%'",connection))

Loaded RCCMAccount.csv | Time: 0:00:00.722285
   account_name   category qb_account_number  \
0     MAP ME!!!  MAP ME!!!              1005
1     MAP ME!!!  MAP ME!!!              1540
2     MAP ME!!!  MAP ME!!!              1545
3     MAP ME!!!  MAP ME!!!              1800
4     MAP ME!!!  MAP ME!!!              2000
5     MAP ME!!!  MAP ME!!!              2100
6     MAP ME!!!  MAP ME!!!              2460
7     MAP ME!!!  MAP ME!!!              3000
8     MAP ME!!!  MAP ME!!!             3000*
9     MAP ME!!!  MAP ME!!!             3000^
10    MAP ME!!!  MAP ME!!!              3005
11    MAP ME!!!  MAP ME!!!             3005*
12    MAP ME!!!  MAP ME!!!             3005^
13    MAP ME!!!  MAP ME!!!              3040
14    MAP ME!!!  MAP ME!!!              5036
15    MAP ME!!!  MAP ME!!!              5062
16    MAP ME!!!  MAP ME!!!              6000
17    MAP ME!!!  MAP ME!!!              6170
18    MAP ME!!!  MAP ME!!!              6185
19    MAP ME!!!  MAP ME!!!              6195
20    MAP ME!!!  MAP ME!!!              6240
21    MAP ME!!!  MAP ME!!!              7005
22    MAP ME!!!  MAP ME!!!              7015
23    MAP ME!!!  MAP ME!!!              7020
24    MAP ME!!!  MAP ME!!!              7025
25    MAP ME!!!  MAP ME!!!              7030
26    MAP ME!!!  MAP ME!!!              7040
27    MAP ME!!!  MAP ME!!!              7045
28    MAP ME!!!  MAP ME!!!              7065
29    MAP ME!!!  MAP ME!!!              7070
30    MAP ME!!!  MAP ME!!!              7075
31    MAP ME!!!  MAP ME!!!              7080
32    MAP ME!!!  MAP ME!!!              7095
33    MAP ME!!!  MAP ME!!!              7905
34    MAP ME!!!  MAP ME!!!              8025
35    MAP ME!!!  MAP ME!!!              8030
36    MAP ME!!!  MAP ME!!!              8500
37    MAP ME!!!  MAP ME!!!              8700
38    MAP ME!!!  MAP ME!!!              8705
39    MAP ME!!!  MAP ME!!!              8725
40    MAP ME!!!  MAP ME!!!              9000

                           qb_account_name          qb_account_type  \
0    1005 � Bank - Operating - Union #5219                     Bank
1                         1540 � Equipment              Fixed Asset
2      1545 � Acc Depreciation - Equipment              Fixed Asset
3                      1800 � Intercompany      Other Current Asset
4                  2000 � Accounts Payable         Accounts Payable
5                   2100 � Accrued Payroll  Other Current Liability
6                      2460 � Loan Payable  Other Current Liability
7       3000 � Capital Contribution - Abid                   Equity
8     3000* � Capital Contribution - Smith                   Equity
9    3000^ � Capital Contribution - Fisher                   Equity
10      3005 � Capital Distribution - Abid                   Equity
11      3005* � Capital Distribution - CGH                   Equity
12   3005^ � Capital Distribution - Fisher                   Equity
13                3040 � Retained Earnings                   Equity
14                     5036 � Ranch - Rent       Cost of Goods Sold
15                5062 � Ranch - Utilities       Cost of Goods Sold
16                      6000 � Wages Labor                  Expense
17      6170 � Payroll - Employee Benefits                  Expense
18  6185 � Payroll - Employee Pension Plan                  Expense
19              6195 � Guaranteed Payments                  Expense
20          6240 � Repairs and Maintenance                  Expense
21               7005 � Automobile Expense                  Expense
22               7015 � Legal & Accounting                  Expense
23        7020 � Advertising and Marketing                  Expense
24                   7025 � Office Expense                  Expense
25           7030 � Bank and Merchant Fees                  Expense
26           7040 � Dues and Subscriptions                  Expense
27                7045 � Insurance Expense                  Expense
28    7065 � Computer Internet & Telephone                  Expense
29             7070 � Continuing Education                  Expense
30  7075 � Travel & Entertainment Non Meal                  Expense
31             7080 � Meals 50% Deductible                  Expense
32               7095 � Licenses & Permits                  Expense
33                 7905 � Interest Expense                  Expense
34                     8025 � Other Income             Other Income
35            8030 � Management Fee Income             Other Income
36             8500 � Depreciation Expense            Other Expense
37              8700 � Federal Tax Expense            Other Expense
38                8705 � State Tax Expense            Other Expense
39                    8725 � Taxes - Other            Other Expense
40                        9000 � Suspended            Other Expense

   mapping_type cash_flow_classification
0     MAP ME!!!            NotApplicable
1     MAP ME!!!                Investing
2     MAP ME!!!                Investing
3     MAP ME!!!                Operating
4     MAP ME!!!                Operating
5     MAP ME!!!                Operating
6     MAP ME!!!                Operating
7     MAP ME!!!                Financing
8     MAP ME!!!                Financing
9     MAP ME!!!                Financing
10    MAP ME!!!                Financing
11    MAP ME!!!                Financing
12    MAP ME!!!                Financing
13    MAP ME!!!                Financing
14    MAP ME!!!                     None
15    MAP ME!!!                     None
16    MAP ME!!!                     None
17    MAP ME!!!                     None
18    MAP ME!!!                     None
19    MAP ME!!!                     None
20    MAP ME!!!                     None
21    MAP ME!!!                     None
22    MAP ME!!!                     None
23    MAP ME!!!                     None
24    MAP ME!!!                     None
25    MAP ME!!!                     None
26    MAP ME!!!                     None
27    MAP ME!!!                     None
28    MAP ME!!!                     None
29    MAP ME!!!                     None
30    MAP ME!!!                     None
31    MAP ME!!!                     None
32    MAP ME!!!                     None
33    MAP ME!!!                     None
34    MAP ME!!!                     None
35    MAP ME!!!                     None
36    MAP ME!!!                     None
37    MAP ME!!!                     None
38    MAP ME!!!                     None
39    MAP ME!!!                     None
40    MAP ME!!!                     None

In [2]:
# RCCM TD - R.C. Capital Management Group, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    return next_month - datetime.timedelta(days=next_month.day)

db='fisher_nut_RCCM_qbe'

engine=create_engine('mysql+pymysql://acrumaster:Acru50lut10n5@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('C:/Users/Ben/Desktop/qb_files')

files = [
    ['RCCM1.csv','2002-12-01','2021-04-30']
]

for i in range(len(files)):
    start_time=datetime.datetime.now()
    date_df = pd.read_csv(files[i][0],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])
    date_split=date_df['TransNo'][1].replace("'","").split()
    connection.execute("DELETE FROM "+db+".transaction_detail WHERE date BETWEEN '"+datetime.datetime.strptime(date_split[0]+' 01,'+date_split[1],'%b %d,%y').strftime('%Y-%m-%d')+"' AND '"+last_day_of_month(datetime.datetime.strptime(date_split[3]+' 01,'+date_split[4],'%b %d,%y')).strftime('%Y-%m-%d')+"'")
    df = pd.read_csv(files[i][0],skiprows=2,parse_dates=['Date'],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])[:-1]
    df.to_sql('transaction_detail',engine,if_exists='append',index=False,chunksize=1000)
    print('Loaded '+files[i][0]+' | Time: '+str(datetime.datetime.now()-start_time))
    
df = pd.read_sql("""SELECT *,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Gross Profit' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns','Cost of Sales')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Revenue' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,-SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.AccountName IN ('Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Income' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Total Operating Expenses' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses','Gross Revenue','Discounts & Returns','Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName""",connection)
connection.execute('TRUNCATE TABLE '+db+'.package_query')
df.to_sql('package_query',engine,if_exists='append',index=False,chunksize=1000)

Loaded RCCM1.csv | Time: 0:00:00.893966