In [ ]:
# FCI Account - Fisher Capital Investments, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

db='fisher_nut_FCI_qbe'

engine=create_engine('mysql+pymysql://fisher_nut_user:L3Sk$E@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

os.chdir('qb_files')
start_time=datetime.datetime.now()
df = pd.read_csv('FCIAccount.csv',skiprows=1,
            names=['Account','AccountType','Class','Description','AccountNumber'])
connection.execute('TRUNCATE TABLE '+db+'.account')
df.to_sql('account',engine,if_exists='append',index=False,chunksize=1000)
print('Loaded FCIAccount.csv | Time: '+str(datetime.datetime.now()-start_time))
print(pd.read_sql("SELECT * FROM "+db+".mapped_accounts WHERE account_name LIKE '%%MAP%%' OR account_name LIKE '%%DUP%%'",connection))
os.chdir('..')

In [ ]:
# FCI TD - Fisher Capital Investments, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    return next_month - datetime.timedelta(days=next_month.day)

db='fisher_nut_FCI_qbe'

engine=create_engine('mysql+pymysql://fisher_nut_user:L3Sk$E@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

os.chdir('qb_files')

files = [
    ['FCI1.csv','2015-01-01','2021-04-30']
]

for i in range(len(files)):
    start_time=datetime.datetime.now()
    date_df = pd.read_csv(files[i][0],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])
    date_split=date_df['TransNo'][1].replace("'","").split()
    connection.execute("DELETE FROM "+db+".transaction_detail WHERE date BETWEEN '"+datetime.datetime.strptime(date_split[0]+' 01,'+date_split[1],'%b %d,%y').strftime('%Y-%m-%d')+"' AND '"+last_day_of_month(datetime.datetime.strptime(date_split[3]+' 01,'+date_split[4],'%b %d,%y')).strftime('%Y-%m-%d')+"'")
    df = pd.read_csv(files[i][0],skiprows=2,parse_dates=['Date'],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])[:-1]
    df.to_sql('transaction_detail',engine,if_exists='append',index=False,chunksize=1000)
    print('Loaded '+files[i][0]+' | Time: '+str(datetime.datetime.now()-start_time))
    
df = pd.read_sql("""SELECT *,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Gross Profit' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns','Cost of Sales')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Revenue' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,-SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.AccountName IN ('Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Income' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Total Operating Expenses' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'FCI' qb_file
FROM fisher_nut_FCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses','Gross Revenue','Discounts & Returns','Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName""",connection)
connection.execute('TRUNCATE TABLE '+db+'.package_query')
df.to_sql('package_query',engine,if_exists='append',index=False,chunksize=1000)
os.chdir('..')

In [ ]:
# RCCI Account - RC Capital Investments, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

db='fisher_nut_RCCI_qbe'

engine=create_engine('mysql+pymysql://fisher_nut_user:L3Sk$E@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

os.chdir('qb_files')
start_time=datetime.datetime.now()
df = pd.read_csv('RCCIAccount.csv',skiprows=1,
            names=['Account','AccountType','Class','Description','AccountNumber'])
connection.execute('TRUNCATE TABLE '+db+'.account')
df.to_sql('account',engine,if_exists='append',index=False,chunksize=1000)
print('Loaded RCCIAccount.csv | Time: '+str(datetime.datetime.now()-start_time))
print(pd.read_sql("SELECT * FROM "+db+".mapped_accounts WHERE account_name LIKE '%%MAP%%' OR account_name LIKE '%%DUP%%'",connection))
os.chdir('..')

In [ ]:
# RCCI TD - RC Capital Investments, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    return next_month - datetime.timedelta(days=next_month.day)

db='fisher_nut_RCCI_qbe'

engine=create_engine('mysql+pymysql://fisher_nut_user:L3Sk$E@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('qb_files')

files = [
    ['RCCI1.csv','2002-12-01','2021-04-30']
]

for i in range(len(files)):
    start_time=datetime.datetime.now()
    date_df = pd.read_csv(files[i][0],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])
    date_split=date_df['TransNo'][1].replace("'","").split()
    connection.execute("DELETE FROM "+db+".transaction_detail WHERE date BETWEEN '"+datetime.datetime.strptime(date_split[0]+' 01,'+date_split[1],'%b %d,%y').strftime('%Y-%m-%d')+"' AND '"+last_day_of_month(datetime.datetime.strptime(date_split[3]+' 01,'+date_split[4],'%b %d,%y')).strftime('%Y-%m-%d')+"'")
    df = pd.read_csv(files[i][0],skiprows=2,parse_dates=['Date'],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])[:-1]
    df.to_sql('transaction_detail',engine,if_exists='append',index=False,chunksize=1000)
    print('Loaded '+files[i][0]+' | Time: '+str(datetime.datetime.now()-start_time))
    
df = pd.read_sql("""SELECT *,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Gross Profit' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns','Cost of Sales')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Revenue' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,-SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.AccountName IN ('Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Income' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Total Operating Expenses' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCI' qb_file
FROM fisher_nut_RCCI_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses','Gross Revenue','Discounts & Returns','Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName""",connection)
connection.execute('TRUNCATE TABLE '+db+'.package_query')
df.to_sql('package_query',engine,if_exists='append',index=False,chunksize=1000)
os.chdir('..')

In [ ]:
# RCCE Account - R.C. Capital Export Inc.
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

db='fisher_nut_RCC_Export_qbe'

engine=create_engine('mysql+pymysql://fisher_nut_user:L3Sk$E@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

os.chdir('qb_files')
start_time=datetime.datetime.now()
df = pd.read_csv('RCCEAccount.csv',skiprows=1,
            names=['Account','AccountType','Class','Description','AccountNumber'])
connection.execute('TRUNCATE TABLE '+db+'.account')
df.to_sql('account',engine,if_exists='append',index=False,chunksize=1000)
print('Loaded RCCEAccount.csv | Time: '+str(datetime.datetime.now()-start_time))
print(pd.read_sql("SELECT * FROM "+db+".mapped_accounts WHERE account_name LIKE '%%MAP%%' OR account_name LIKE '%%DUP%%'",connection))
os.chdir('..')

In [ ]:
# RCCE TD - R.C. Capital Export Inc.
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    return next_month - datetime.timedelta(days=next_month.day)

db='fisher_nut_RCC_Export_qbe'

engine=create_engine('mysql+pymysql://fisher_nut_user:L3Sk$E@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('qb_files')

files = [
    ['RCCE1.csv','2002-12-01','2021-04-30']
]

for i in range(len(files)):
    start_time=datetime.datetime.now()
    date_df = pd.read_csv(files[i][0],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])
    date_split=date_df['TransNo'][1].replace("'","").split()
    connection.execute("DELETE FROM "+db+".transaction_detail WHERE date BETWEEN '"+datetime.datetime.strptime(date_split[0]+' 01,'+date_split[1],'%b %d,%y').strftime('%Y-%m-%d')+"' AND '"+last_day_of_month(datetime.datetime.strptime(date_split[3]+' 01,'+date_split[4],'%b %d,%y')).strftime('%Y-%m-%d')+"'")
    df = pd.read_csv(files[i][0],skiprows=2,parse_dates=['Date'],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])[:-1]
    df.to_sql('transaction_detail',engine,if_exists='append',index=False,chunksize=1000)
    print('Loaded '+files[i][0]+' | Time: '+str(datetime.datetime.now()-start_time))
    
df = pd.read_sql("""SELECT *,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Gross Profit' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns','Cost of Sales')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Revenue' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,-SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.AccountName IN ('Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Income' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Total Operating Expenses' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCE' qb_file
FROM fisher_nut_RCC_Export_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses','Gross Revenue','Discounts & Returns','Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName""",connection)
connection.execute('TRUNCATE TABLE '+db+'.package_query')
df.to_sql('package_query',engine,if_exists='append',index=False,chunksize=1000)
os.chdir('..')

In [ ]:
# RCCM Account - R.C. Capital Management Group, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

db='fisher_nut_RCCM_qbe'

engine=create_engine('mysql+pymysql://fisher_nut_user:L3Sk$E@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()

os.chdir('qb_files')
start_time=datetime.datetime.now()
df = pd.read_csv('RCCMAccount.csv',skiprows=1,
            names=['Account','AccountType','Class','Description','AccountNumber'])
connection.execute('TRUNCATE TABLE '+db+'.account')
df.to_sql('account',engine,if_exists='append',index=False,chunksize=1000)
print('Loaded RCCMAccount.csv | Time: '+str(datetime.datetime.now()-start_time))
print(pd.read_sql("SELECT * FROM "+db+".mapped_accounts WHERE account_name LIKE '%%MAP%%' OR account_name LIKE '%%DUP%%'",connection))
os.chdir('..')

In [ ]:
# RCCM TD - R.C. Capital Management Group, LLC
import pandas as pd
import datetime
import pymysql
from sqlalchemy import create_engine
import os

def last_day_of_month(any_day):
    next_month = any_day.replace(day=28) + datetime.timedelta(days=4)
    return next_month - datetime.timedelta(days=next_month.day)

db='fisher_nut_RCCM_qbe'

engine=create_engine('mysql+pymysql://fisher_nut_user:L3Sk$E@acrumysql.cnqsc4hrznze.us-west-2.rds.amazonaws.com:3306/'+db)
connection=engine.connect()
os.chdir('qb_files')

files = [
    ['RCCM1.csv','2002-12-01','2021-04-30']
]

for i in range(len(files)):
    start_time=datetime.datetime.now()
    date_df = pd.read_csv(files[i][0],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])
    date_split=date_df['TransNo'][1].replace("'","").split()
    connection.execute("DELETE FROM "+db+".transaction_detail WHERE date BETWEEN '"+datetime.datetime.strptime(date_split[0]+' 01,'+date_split[1],'%b %d,%y').strftime('%Y-%m-%d')+"' AND '"+last_day_of_month(datetime.datetime.strptime(date_split[3]+' 01,'+date_split[4],'%b %d,%y')).strftime('%Y-%m-%d')+"'")
    df = pd.read_csv(files[i][0],skiprows=2,parse_dates=['Date'],
        names=['TransNo','Type','Date','Num','Name','Memo','AccountType','Account','Item','Qty','Class','Debit','Credit','Amount'])[:-1]
    df.to_sql('transaction_detail',engine,if_exists='append',index=False,chunksize=1000)
    print('Loaded '+files[i][0]+' | Time: '+str(datetime.datetime.now()-start_time))
    
df = pd.read_sql("""SELECT *,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Gross Profit' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns','Cost of Sales')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Revenue' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.CategoryName IN ('Gross Revenue','Discounts & Returns')
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'EBITDA' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,-SUM(CreditAmount - DebitAmount) CreditAmount,0 DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.AccountName IN ('Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Net Income' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName
UNION ALL
SELECT 'Summary' TrnsType,'Profit & Loss' CategoryType,'Total Operating Expenses' CategoryName,'' MappedAccountName,'' AccountName,'' AccountType,ClassName ClassName,0 TxnID,TxnDate TxnDate,0 CreditAmount,SUM(DebitAmount - CreditAmount) DebitAmount,ReferenceName,'' MemoLine,'RCCM' qb_file
FROM fisher_nut_RCCM_qbe.profit_and_loss_refactored T
WHERE T.CategoryName NOT IN ('Other Income/Expenses','Gross Revenue','Discounts & Returns','Cost of Sales') AND T.CategoryType = 'Profit & Loss'
GROUP BY T.ClassName,TxnDate,ReferenceName""",connection)
connection.execute('TRUNCATE TABLE '+db+'.package_query')
df.to_sql('package_query',engine,if_exists='append',index=False,chunksize=1000)
os.chdir('..')